<%if logged_in? %>
<h1><%= @platform.name %></h1>


<img src="<%= @platform.image %>" alt ="platform" style="width:600px;height:600px;">    
<li>Manufacturer:<%= @platform.manufacturer %></li>
<br>  
    <li><%= link_to "Edit Platform", edit_platform_path(@platform) %></li>
    <li><%= link_to "Delete Platform",platform_path(@platform), method: "delete" %></li>
<% end %>
<li><%= link_to"Add games you own", new_platform_owned_game_path(@platform)%></li>
<h3> Games you own for this plaform</h3>
<% @platform.games.each do  |game| %>
     <% @platform.owned_games.each do |og| %>
        <% if og.game_id == game.id %>
            <li><%= link_to game.title, game_path(game.id) %> </li> 
            <li><%= link_to "Remove Game", platform_owned_game_path(@platform, og.id), method: "delete" %></li>
            <%end%>
    <% end %>
<% end %>