
<h1><%= @game.title %></h1>


<img src="<%= @game.image %>" alt ="game" style="width:600px;height:600px;">    
<li>Audience Rating:<%= @game.audience_rating %></li>    
<li>Release date:<%= @game.release_date %></li>
<%if logged_in? %>
    <li><%= link_to "Edit", edit_game_path(@game) %></li>
<br>
<h2> Game Reviews </h2>
    <li><%= link_to "Review this game",new_game_review_path(@game)%></li>
    <%@game.reviews.each do |r| %>
        <p><%=r.comment%> - <%=r.user.username%> </p>
        <li><%= link_to "Edit Review", edit_game_review_path(@game.id,r.id)%></li>
        <li><%= link_to "Delete Review",game_review_path(@game,r.id), method: "delete" %></li>
    <% end %>
<% end %>
