<h1><%= @game.title %></h1>

<img src="<%= @game.image %>" alt ="game" style="width:600px;height:600px;">    
<li>Audience Rating:<%= @game.audience_rating %></li>    
<li>Release date:<%= @game.release_date %></li>
<p><%= link_to "Edit", edit_game_path(@game) %></p>

<%= link_to "Rate Game",new_game_rating_path(@game)%>
<%= link_to "Delete",game_path(@game), method: "delete" %>
