<!DOCTYPE html>
<html>
  <head>
    <title>Gamehub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar">
      <ul>
      <li>
        <li><%= link_to("Games", games_path)%></li>
      <% if logged_in? %>
        <li><%= link_to("Platforms", platforms_path)%></li>
        <li><%= link_to("Add Game", new_game_path)%></li>
        <li><%= link_to("Logout", logout_path)%></li>
        <% else %>
        <li><%= link_to("Home", root_path)%></li>

        <li><%= link_to("Signup", signup_path)%></li>
        <li><%= link_to("Login", new_user_path)%></li>
        <li><%= link_to "Login with Google", '/auth/google_oauth2', method: :post %></li>
        <% end %>
      </ul>
    </nav>
    

    <%= content_tag("p", flash[:notice]) if flash[:notice] %>
    <%= yield %>
  </body>
</html>
